
01_polyAseq/01_wkd/fastq/SRR4091084.fastq
01_polyAseq/01_wkd/fastq/SRR4091085.fastq
01_polyAseq/01_wkd/fastq/SRR4091087.fastq
01_polyAseq/01_wkd/out/01_ProcessSeq/log/01_split_barcodes_mm_SRR4091084.fastq.err
01_polyAseq/01_wkd/out/01_ProcessSeq/log/01_split_barcodes_mm_SRR4091084.fastq.out
01_polyAseq/01_wkd/out/01_ProcessSeq/log/01_split_barcodes_mm_SRR4091085.fastq.err
01_polyAseq/01_wkd/out/01_ProcessSeq/log/01_split_barcodes_mm_SRR4091085.fastq.out
01_polyAseq/01_wkd/out/01_ProcessSeq/log/01_split_barcodes_mm_SRR4091087.fastq.err
01_polyAseq/01_wkd/out/01_ProcessSeq/log/01_split_barcodes_mm_SRR4091087.fastq.out
01_polyAseq/01_wkd/out/01_ProcessSeq/log/02_plot_barcodes.err
01_polyAseq/01_wkd/out/01_ProcessSeq/log/02_plot_barcodes.out
01_polyAseq/01_wkd/out/01_ProcessSeq/log/03_a_run_hist_00.err
01_polyAseq/01_wkd/out/01_ProcessSeq/log/03_a_run_hist_00.out
01_polyAseq/01_wkd/out/01_ProcessSeq/log/03_a_run_hist_01.err
01_polyAseq/01_wkd/out/01_ProcessSeq/log/03_a_run_hist_01.out
01_polyAseq/01_wkd/out/01_ProcessSeq/log/03_a_run_hist_02.err
01_polyAseq/01_wkd/out/01_ProcessSeq/log/03_a_run_hist_02.out
01_polyAseq/01_wkd/out/01_ProcessSeq/log/04_a_run_hist_plot.err
01_polyAseq/01_wkd/out/01_ProcessSeq/log/04_a_run_hist_plot.out
01_polyAseq/01_wkd/out/01_ProcessSeq/log/05_chop_a_tails.err
01_polyAseq/01_wkd/out/01_ProcessSeq/log/05_chop_a_tails.out
01_polyAseq/01_wkd/out/01_ProcessSeq/output/03_a_run_hist_mm0/SRR4091084_AAGTGC_LongestARunCounts.csv
01_polyAseq/01_wkd/out/01_ProcessSeq/output/03_a_run_hist_mm0/SRR4091084_CTTGTA_LongestARunCounts.csv
01_polyAseq/01_wkd/out/01_ProcessSeq/output/03_a_run_hist_mm0/SRR4091084_GCCAAT_LongestARunCounts.csv
01_polyAseq/01_wkd/out/01_ProcessSeq/output/03_a_run_hist_mm0/SRR4091084_OTHER_LongestARunCounts.csv
01_polyAseq/01_wkd/out/01_ProcessSeq/output/03_a_run_hist_mm0/SRR4091084_TGACCA_LongestARunCounts.csv
01_polyAseq/01_wkd/out/01_ProcessSeq/output/03_a_run_hist_mm0/SRR4091085_AAGTGC_LongestARunCounts.csv
01_polyAseq/01_wkd/out/01_ProcessSeq/output/03_a_run_hist_mm0/SRR4091085_CTTGTA_LongestARunCounts.csv
01_polyAseq/01_wkd/out/01_ProcessSeq/output/03_a_run_hist_mm0/SRR4091085_GCCAAT_LongestARunCounts.csv
01_polyAseq/01_wkd/out/01_ProcessSeq/output/03_a_run_hist_mm0/SRR4091085_OTHER_LongestARunCounts.csv
01_polyAseq/01_wkd/out/01_ProcessSeq/output/03_a_run_hist_mm0/SRR4091085_TGACCA_LongestARunCounts.csv
01_polyAseq/01_wkd/out/01_ProcessSeq/output/03_a_run_hist_mm0/SRR4091087_AAGTGC_LongestARunCounts.csv
01_polyAseq/01_wkd/out/01_ProcessSeq/output/03_a_run_hist_mm0/SRR4091087_CTTGTA_LongestARunCounts.csv
01_polyAseq/01_wkd/out/01_ProcessSeq/output/03_a_run_hist_mm0/SRR4091087_GCCAAT_LongestARunCounts.csv
01_polyAseq/01_wkd/out/01_ProcessSeq/output/03_a_run_hist_mm0/SRR4091087_OTHER_LongestARunCounts.csv
01_polyAseq/01_wkd/out/01_ProcessSeq/output/03_a_run_hist_mm0/SRR4091087_TGACCA_LongestARunCounts.csv
01_polyAseq/01_wkd/out/01_ProcessSeq/output/03_a_run_hist_mm1/SRR4091084_AAGTGC_LongestARunCounts.csv
01_polyAseq/01_wkd/out/01_ProcessSeq/output/03_a_run_hist_mm1/SRR4091084_CTTGTA_LongestARunCounts.csv
01_polyAseq/01_wkd/out/01_ProcessSeq/output/03_a_run_hist_mm1/SRR4091084_GCCAAT_LongestARunCounts.csv
01_polyAseq/01_wkd/out/01_ProcessSeq/output/03_a_run_hist_mm1/SRR4091084_OTHER_LongestARunCounts.csv
01_polyAseq/01_wkd/out/01_ProcessSeq/output/03_a_run_hist_mm1/SRR4091084_TGACCA_LongestARunCounts.csv
01_polyAseq/01_wkd/out/01_ProcessSeq/output/03_a_run_hist_mm1/SRR4091085_AAGTGC_LongestARunCounts.csv
01_polyAseq/01_wkd/out/01_ProcessSeq/output/03_a_run_hist_mm1/SRR4091085_CTTGTA_LongestARunCounts.csv
01_polyAseq/01_wkd/out/01_ProcessSeq/output/03_a_run_hist_mm1/SRR4091085_GCCAAT_LongestARunCounts.csv
01_polyAseq/01_wkd/out/01_ProcessSeq/output/03_a_run_hist_mm1/SRR4091085_OTHER_LongestARunCounts.csv
01_polyAseq/01_wkd/out/01_ProcessSeq/output/03_a_run_hist_mm1/SRR4091085_TGACCA_LongestARunCounts.csv
01_polyAseq/01_wkd/out/01_ProcessSeq/output/03_a_run_hist_mm1/SRR4091087_AAGTGC_LongestARunCounts.csv
01_polyAseq/01_wkd/out/01_ProcessSeq/output/03_a_run_hist_mm1/SRR4091087_CTTGTA_LongestARunCounts.csv
01_polyAseq/01_wkd/out/01_ProcessSeq/output/03_a_run_hist_mm1/SRR4091087_GCCAAT_LongestARunCounts.csv
01_polyAseq/01_wkd/out/01_ProcessSeq/output/03_a_run_hist_mm1/SRR4091087_OTHER_LongestARunCounts.csv
01_polyAseq/01_wkd/out/01_ProcessSeq/output/03_a_run_hist_mm1/SRR4091087_TGACCA_LongestARunCounts.csv
01_polyAseq/01_wkd/out/01_ProcessSeq/output/03_a_run_hist_mm2/SRR4091084_AAGTGC_LongestARunCounts.csv
01_polyAseq/01_wkd/out/01_ProcessSeq/output/03_a_run_hist_mm2/SRR4091084_CTTGTA_LongestARunCounts.csv
01_polyAseq/01_wkd/out/01_ProcessSeq/output/03_a_run_hist_mm2/SRR4091084_GCCAAT_LongestARunCounts.csv
01_polyAseq/01_wkd/out/01_ProcessSeq/output/03_a_run_hist_mm2/SRR4091084_OTHER_LongestARunCounts.csv
01_polyAseq/01_wkd/out/01_ProcessSeq/output/03_a_run_hist_mm2/SRR4091084_TGACCA_LongestARunCounts.csv
01_polyAseq/01_wkd/out/01_ProcessSeq/output/03_a_run_hist_mm2/SRR4091085_AAGTGC_LongestARunCounts.csv
01_polyAseq/01_wkd/out/01_ProcessSeq/output/03_a_run_hist_mm2/SRR4091085_CTTGTA_LongestARunCounts.csv
01_polyAseq/01_wkd/out/01_ProcessSeq/output/03_a_run_hist_mm2/SRR4091085_GCCAAT_LongestARunCounts.csv
01_polyAseq/01_wkd/out/01_ProcessSeq/output/03_a_run_hist_mm2/SRR4091085_OTHER_LongestARunCounts.csv
01_polyAseq/01_wkd/out/01_ProcessSeq/output/03_a_run_hist_mm2/SRR4091085_TGACCA_LongestARunCounts.csv
01_polyAseq/01_wkd/out/01_ProcessSeq/output/03_a_run_hist_mm2/SRR4091087_AAGTGC_LongestARunCounts.csv
01_polyAseq/01_wkd/out/01_ProcessSeq/output/03_a_run_hist_mm2/SRR4091087_CTTGTA_LongestARunCounts.csv
01_polyAseq/01_wkd/out/01_ProcessSeq/output/03_a_run_hist_mm2/SRR4091087_GCCAAT_LongestARunCounts.csv
01_polyAseq/01_wkd/out/01_ProcessSeq/output/03_a_run_hist_mm2/SRR4091087_OTHER_LongestARunCounts.csv
01_polyAseq/01_wkd/out/01_ProcessSeq/output/03_a_run_hist_mm2/SRR4091087_TGACCA_LongestARunCounts.csv
01_polyAseq/01_wkd/out/01_ProcessSeq/output/chop_a_tails/SRR4091084_AAGTGC_A.fastq.gz
01_polyAseq/01_wkd/out/01_ProcessSeq/output/chop_a_tails/SRR4091084_AAGTGC_allA.fastq.gz
01_polyAseq/01_wkd/out/01_ProcessSeq/output/chop_a_tails/SRR4091084_AAGTGC_noA.fastq.gz
01_polyAseq/01_wkd/out/01_ProcessSeq/output/chop_a_tails/SRR4091084_CTTGTA_A.fastq.gz
01_polyAseq/01_wkd/out/01_ProcessSeq/output/chop_a_tails/SRR4091084_CTTGTA_allA.fastq.gz
01_polyAseq/01_wkd/out/01_ProcessSeq/output/chop_a_tails/SRR4091084_CTTGTA_noA.fastq.gz
01_polyAseq/01_wkd/out/01_ProcessSeq/output/chop_a_tails/SRR4091084_GCCAAT_A.fastq.gz
01_polyAseq/01_wkd/out/01_ProcessSeq/output/chop_a_tails/SRR4091084_GCCAAT_allA.fastq.gz
01_polyAseq/01_wkd/out/01_ProcessSeq/output/chop_a_tails/SRR4091084_GCCAAT_noA.fastq.gz
01_polyAseq/01_wkd/out/01_ProcessSeq/output/chop_a_tails/SRR4091084_OTHER_A.fastq.gz
01_polyAseq/01_wkd/out/01_ProcessSeq/output/chop_a_tails/SRR4091084_OTHER_allA.fastq.gz
01_polyAseq/01_wkd/out/01_ProcessSeq/output/chop_a_tails/SRR4091084_OTHER_noA.fastq.gz
01_polyAseq/01_wkd/out/01_ProcessSeq/output/chop_a_tails/SRR4091084_TGACCA_A.fastq.gz
01_polyAseq/01_wkd/out/01_ProcessSeq/output/chop_a_tails/SRR4091084_TGACCA_allA.fastq.gz
01_polyAseq/01_wkd/out/01_ProcessSeq/output/chop_a_tails/SRR4091084_TGACCA_noA.fastq.gz
01_polyAseq/01_wkd/out/01_ProcessSeq/output/chop_a_tails/SRR4091085_AAGTGC_A.fastq.gz
01_polyAseq/01_wkd/out/01_ProcessSeq/output/chop_a_tails/SRR4091085_AAGTGC_allA.fastq.gz
01_polyAseq/01_wkd/out/01_ProcessSeq/output/chop_a_tails/SRR4091085_AAGTGC_noA.fastq.gz
01_polyAseq/01_wkd/out/01_ProcessSeq/output/chop_a_tails/SRR4091085_CTTGTA_A.fastq.gz
01_polyAseq/01_wkd/out/01_ProcessSeq/output/chop_a_tails/SRR4091085_CTTGTA_allA.fastq.gz
01_polyAseq/01_wkd/out/01_ProcessSeq/output/chop_a_tails/SRR4091085_CTTGTA_noA.fastq.gz
01_polyAseq/01_wkd/out/01_ProcessSeq/output/chop_a_tails/SRR4091085_GCCAAT_A.fastq.gz
01_polyAseq/01_wkd/out/01_ProcessSeq/output/chop_a_tails/SRR4091085_GCCAAT_allA.fastq.gz
01_polyAseq/01_wkd/out/01_ProcessSeq/output/chop_a_tails/SRR4091085_GCCAAT_noA.fastq.gz
01_polyAseq/01_wkd/out/01_ProcessSeq/output/chop_a_tails/SRR4091085_OTHER_A.fastq.gz
01_polyAseq/01_wkd/out/01_ProcessSeq/output/chop_a_tails/SRR4091085_OTHER_allA.fastq.gz
01_polyAseq/01_wkd/out/01_ProcessSeq/output/chop_a_tails/SRR4091085_OTHER_noA.fastq.gz
01_polyAseq/01_wkd/out/01_ProcessSeq/output/chop_a_tails/SRR4091085_TGACCA_A.fastq.gz
01_polyAseq/01_wkd/out/01_ProcessSeq/output/chop_a_tails/SRR4091085_TGACCA_allA.fastq.gz
01_polyAseq/01_wkd/out/01_ProcessSeq/output/chop_a_tails/SRR4091085_TGACCA_noA.fastq.gz
01_polyAseq/01_wkd/out/01_ProcessSeq/output/chop_a_tails/SRR4091087_AAGTGC_A.fastq.gz
01_polyAseq/01_wkd/out/01_ProcessSeq/output/chop_a_tails/SRR4091087_AAGTGC_allA.fastq.gz
01_polyAseq/01_wkd/out/01_ProcessSeq/output/chop_a_tails/SRR4091087_AAGTGC_noA.fastq.gz
01_polyAseq/01_wkd/out/01_ProcessSeq/output/chop_a_tails/SRR4091087_CTTGTA_A.fastq.gz
01_polyAseq/01_wkd/out/01_ProcessSeq/output/chop_a_tails/SRR4091087_CTTGTA_allA.fastq.gz
01_polyAseq/01_wkd/out/01_ProcessSeq/output/chop_a_tails/SRR4091087_CTTGTA_noA.fastq.gz
01_polyAseq/01_wkd/out/01_ProcessSeq/output/chop_a_tails/SRR4091087_GCCAAT_A.fastq.gz
01_polyAseq/01_wkd/out/01_ProcessSeq/output/chop_a_tails/SRR4091087_GCCAAT_allA.fastq.gz
01_polyAseq/01_wkd/out/01_ProcessSeq/output/chop_a_tails/SRR4091087_GCCAAT_noA.fastq.gz
01_polyAseq/01_wkd/out/01_ProcessSeq/output/chop_a_tails/SRR4091087_OTHER_A.fastq.gz
01_polyAseq/01_wkd/out/01_ProcessSeq/output/chop_a_tails/SRR4091087_OTHER_allA.fastq.gz
01_polyAseq/01_wkd/out/01_ProcessSeq/output/chop_a_tails/SRR4091087_OTHER_noA.fastq.gz
01_polyAseq/01_wkd/out/01_ProcessSeq/output/chop_a_tails/SRR4091087_TGACCA_A.fastq.gz
01_polyAseq/01_wkd/out/01_ProcessSeq/output/chop_a_tails/SRR4091087_TGACCA_allA.fastq.gz
01_polyAseq/01_wkd/out/01_ProcessSeq/output/chop_a_tails/SRR4091087_TGACCA_noA.fastq.gz
01_polyAseq/01_wkd/out/01_ProcessSeq/output/LongestARunInSequenceHistograms_1Mismatch.pdf
01_polyAseq/01_wkd/out/01_ProcessSeq/output/split_barcodes_mm_2/SplitBarcodesExactFractions.csv
01_polyAseq/01_wkd/out/01_ProcessSeq/output/split_barcodes_mm_2/SplitBarcodesMinMismatches.csv
01_polyAseq/01_wkd/out/01_ProcessSeq/output/split_barcodes_mm_2/SplitBarcodesMismatchFreq.pdf
01_polyAseq/01_wkd/out/01_ProcessSeq/output/split_barcodes_mm_2/SplitBarcodesOtherFractions.csv
01_polyAseq/01_wkd/out/01_ProcessSeq/output/split_barcodes_mm_2/SRR4091084_AAGTGC.fastq.gz
01_polyAseq/01_wkd/out/01_ProcessSeq/output/split_barcodes_mm_2/SRR4091084_BarcodeCounts.csv
01_polyAseq/01_wkd/out/01_ProcessSeq/output/split_barcodes_mm_2/SRR4091084_CTTGTA.fastq.gz
01_polyAseq/01_wkd/out/01_ProcessSeq/output/split_barcodes_mm_2/SRR4091084_GCCAAT.fastq.gz
01_polyAseq/01_wkd/out/01_ProcessSeq/output/split_barcodes_mm_2/SRR4091084_OTHER.fastq.gz
01_polyAseq/01_wkd/out/01_ProcessSeq/output/split_barcodes_mm_2/SRR4091084_TGACCA.fastq.gz
01_polyAseq/01_wkd/out/01_ProcessSeq/output/split_barcodes_mm_2/SRR4091085_AAGTGC.fastq.gz
01_polyAseq/01_wkd/out/01_ProcessSeq/output/split_barcodes_mm_2/SRR4091085_BarcodeCounts.csv
01_polyAseq/01_wkd/out/01_ProcessSeq/output/split_barcodes_mm_2/SRR4091085_CTTGTA.fastq.gz
01_polyAseq/01_wkd/out/01_ProcessSeq/output/split_barcodes_mm_2/SRR4091085_GCCAAT.fastq.gz
01_polyAseq/01_wkd/out/01_ProcessSeq/output/split_barcodes_mm_2/SRR4091085_OTHER.fastq.gz
01_polyAseq/01_wkd/out/01_ProcessSeq/output/split_barcodes_mm_2/SRR4091085_TGACCA.fastq.gz
01_polyAseq/01_wkd/out/01_ProcessSeq/output/split_barcodes_mm_2/SRR4091087_AAGTGC.fastq.gz
01_polyAseq/01_wkd/out/01_ProcessSeq/output/split_barcodes_mm_2/SRR4091087_BarcodeCounts.csv
01_polyAseq/01_wkd/out/01_ProcessSeq/output/split_barcodes_mm_2/SRR4091087_CTTGTA.fastq.gz
01_polyAseq/01_wkd/out/01_ProcessSeq/output/split_barcodes_mm_2/SRR4091087_GCCAAT.fastq.gz
01_polyAseq/01_wkd/out/01_ProcessSeq/output/split_barcodes_mm_2/SRR4091087_OTHER.fastq.gz
01_polyAseq/01_wkd/out/01_ProcessSeq/output/split_barcodes_mm_2/SRR4091087_TGACCA.fastq.gz
resource/ref/ensembl/Homo_sapiens.GRCh37.87.gtf
01_polyAseq/SRR4091084/SRR4091084.sra.tmp
01_polyAseq/SRR4091084/SRR4091084.sra.prf
01_polyAseq/SRR4091084/SRR4091084.sra.prf
01_polyAseq/SRR4091084/SRR4091084.sra.tmp
01_polyAseq/SRR4091084/SRR4091084.sra.prf
01_polyAseq/SRR4091084/SRR4091084.sra.tmp
01_polyAseq/SRR4091084/SRR4091084.sra.tmp
resource/ref/ensembl/Homo_sapiens.GRCh37.87.gtf
